# visual studio
TP1/Buckland_Chapter2-State Machines/WestWorldWithMessaging/Debug
TP1/Buckland_Chapter2-State Machines/WestWorldWithMessaging/.vs
TP2/Buckland_Chapter3-Steering Behaviors/Debug
TP2/Buckland_Chapter3-Steering Behaviors/.vs
